<div class="data">
    <div class="data-container">
        <div class="country-list">
            <div class="row">
                <div class="col-4">
                    <ul>
                        {{#each countriescol1}}
                            <li><a href="/country/{{countryURLName}}" target="_blank"
                                    rel="noopener noreferrer">{{countryNameRus}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        {{#each countriescol2}}
                            <li><a href="/country/{{countryURLName}}" target="_blank"
                                    rel="noopener noreferrer">{{countryNameRus}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        {{#each countriescol3}}
                            <li><a href="/country/{{countryURLName}}" target="_blank"
                                    rel="noopener noreferrer">{{countryNameRus}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>